.footer {
  background: #000;
  grid-area: footer;
  margin-top: auto;

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 60px 0;

    &:last-of-type {
      border: 0;
    }

    &:first-of-type {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 120px;
      max-width: 1110px;
      margin: 0 auto;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 40px;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .subscribeBlock {
    display: flex;
    flex-direction: column;
    padding-top: 17px;

    .subscribeWrap {
      width: 100%;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 480px) {
      .subscribeWrap {
        max-width: 100%;
      }
    }
  }

  .copyrightTexts {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 60px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .sBlock {
    @media (max-width: 1024px) {
      text-align: center;
      margin: 44px auto 0;
    }

    @media (max-width: 767px) {
      margin: 0 0 30px;
      order: -1;
      text-align: center;
      width: 100%;
    }
  }

  .sLinksWrap {
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .sLink {
    display: inline-flex;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #fff;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    > svg {
      color: #fff;
    }

    &:hover,
    &:active {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  .navWrap {
    flex-wrap: nowrap;
  }

  .navBlocksWrap {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;

    @media (max-width: 1024px) {
      justify-content: flex-start;
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  .navBlock {
    display: inline-block;
    padding: 20px;

    @media (max-width: 1024px) {
      flex-basis: 50%;
    }

    @media (max-width: 768px) {
      padding: 20px 0;
    }

    .navTitle {
      margin: 0 0 20px;
    }

    .link {
      display: flex;
      align-items: center;
      color: hsla(0,0%,100%,.6);
      margin-bottom: 10px;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 20px;
    }

    .link:hover,
    .link:active {
      color: white;
    }

    .link[aria-disabled='true'] {
      cursor: default;
      color: hsla(0,0%,100%,.2);
    }
  }

  .logoWrap {
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .logoLink {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 9px;
  }

  .logo {
    margin-right: 3px;
    width: 56px;
    height: 56px;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;
    }
  }

  .logoText {
    color: #fff;
  }

  .logoSubText {
    color: hsla(0,0%,100%,.6);
    font-weight: 400;
  }

  .title {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
  }

  .subscribeWrap {
    position: relative;
    margin-top: 14px;

    .subscribeInput {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 14px;
      font-family: inherit;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      padding: 15px 148px 15px 16px;
      width: 100%;
      color: #000;

      @media (max-width: 767px) {
        padding: 15px 16px;
      }
    }

    .subscribeButton {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translate(0, -50%);

      @media (max-width: 767px) {
        position: static;
        transform: none;
        margin-top: 8px;
        width: 100%;
      }
    }
  }

  .copyrightsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .copyrightText,
    .copyrightLink {
      color: rgba(255, 255, 255, 0.4);
      font-size: 12px;
      line-height: 17px;
    }

    .copyrightText {
      font-weight: 400;
    }

    .copyrightLink {
      font-weight: bold;
    }

    a.copyrightLink:hover {
      color: #fff;
    }

    .copyrightLink + .copyrightLink {
      margin-left: 14px;
    }

    @media (max-width: 1024px) {
      .copyrightLink + .copyrightLink {
        margin: 0 0;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0;
    }
  }
}
