.component {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

  @media (max-width: 768px) {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.item.item {
  gap: 48px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.label.label {
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
