@import 'src/styles/text';
@import 'src/styles/colors';

:root .component {
  // primary regular
  --btn-primary-shadow: 0 10px 20px rgba(136, 120, 172, 0.2);
  --btn-primary-border: 0;
  --btn-primary-bg: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-primary-text: #000;

  // primary hover
  --btn-primary-shadow-hover: 0 10px 20px rgba(136, 120, 172, 0.2);
  --btn-primary-border-hover: none;
  --btn-primary-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-primary-text-hover: #000;

  // primary active
  --btn-primary-shadow-active: 0 10px 20px rgba(136, 120, 172, 0.2);
  --btn-primary-border-active: none;
  --btn-primary-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%), #CC362E;
  --btn-primary-text-active: #000;

  // primary disabled
  --btn-primary-shadow-disabled: none;
  --btn-primary-border-disabled: none;
  --btn-primary-bg-disabled: rgba(0, 0, 0, 0.1);
  --btn-primary-text-disabled: rgba(0, 0, 0, 0.3);

  // default regular
  --btn-default-shadow: none;
  --btn-default-border: 0;
  --btn-default-bg: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-default-text: var(--theme-primary-color);

  // default hover
  --btn-default-shadow-hover: none;
  --btn-default-border-hover: none;
  --btn-default-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-default-text-hover: var(--theme-secondary-color);

  // default active
  --btn-default-shadow-active: none;
  --btn-default-border-active: none;
  --btn-default-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%), #CC362E;
  --btn-default-text-active: var(--theme-primary-color);

  // default disabled
  --btn-default-shadow-disabled: none;
  --btn-default-border-disabled: none;
  --btn-default-bg-disabled: rgba(170, 175, 179, 0.08);
  --btn-default-text-disabled: #{$color-grey300};

  // ghost regular
  --btn-ghost-shadow: none;
  --btn-ghost-border: 0;
  --btn-ghost-bg: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-ghost-text: var(--theme-primary-color);

  // ghost hover
  --btn-ghost-shadow-hover: none;
  --btn-ghost-border-hover: none;
  --btn-ghost-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  --btn-ghost-text-hover: var(--theme-secondary-color);

  // ghost active
  --btn-ghost-shadow-active: none;
  --btn-ghost-border-active: none;
  --btn-ghost-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%), #CC362E;
  --btn-ghost-text-active: var(--theme-primary-color);

  // ghost disabled
  --btn-ghost-shadow-disabled: none;
  --btn-ghost-border-disabled: 1px solid #{$color-grey100};
  --btn-ghost-bg-disabled: rgba(170, 175, 179, 0.08);
  --btn-ghost-text-disabled: #{$color-grey300};

  // link
  --btn-link-text: #{$color-blue500};
  --btn-link-text-hover: #{$color-blue400};
  --btn-link-text-active: #{$color-blue600};

  // light
  --btn-light-text: #{$color-red500};
  --btn-light-text-hover: #{$color-red400};
  --btn-light-text-active: #{$color-red600};

  // select
  --btn-select-shadow: none;
  --btn-select-shadow-hover: 0 16px 32px rgba(255, 67, 57, 0.04);
  --btn-select-shadow-active: 0 16px 32px rgba(255, 67, 57, 0.04);
  --btn-select-border: 1px solid var(--btn-primary-border);
  --btn-select-border-hover: 1px solid var(--btn-primary-border-active);
  --btn-select-border-active: 1px solid var(--btn-primary-border-active);
  --btn-select-bg: #fff;
  --btn-select-selected-bg: var(--gradient-green);
}

[data-theme='dark'] .component {
  // default disabled
  --btn-default-bg-disabled: rgba(147, 148, 150, 0.08);
  --btn-default-text-disabled: #939496;

  // primary disabled
  --btn-primary-bg-disabled: rgba(255, 255, 255, 0.1);
  --btn-primary-text-disabled: rgba(255, 255, 255, 0.3);

  // ghost disabled
  --btn-ghost-border-disabled: 1px solid #43484d;
  --btn-ghost-bg-disabled: rgba(147, 148, 150, 0.08);
  --btn-ghost-text-disabled: #939496;

  // link
  --btn-link-text: #{$color-blue400};
  --btn-link-text-hover: #{$color-blue300};
  --btn-link-text-active: #{$color-blue500};

  // select
  --btn-select-border: 1px solid var(--btn-primary-border);
  --btn-select-border-hover: 1px solid var(--btn-primary-border-active);
  --btn-select-border-active: 1px solid var(--btn-primary-border-active);
  --btn-select-bg: #202529;
  --btn-select-bg-hover: #202529;
}

.component:global(.ant-btn) {
  @include font-p2-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  height: auto;
  padding: 14px 26px;
  border-radius: 12px;
  text-align: center;

  &:global(.ant-btn-lg) {
    @include font-p1-bold;
    height: 64px;
    padding: 20px 28px;
  }

  &:global(.ant-btn-sm) {
    @include font-sm-bold;
    height: 34px;
    padding: 8px 18px;
    border-radius: 8px;
  }

  &:global(.ant-btn-primary) {
    box-shadow: var(--btn-primary-shadow);
    border: var(--btn-primary-border);
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);

    &:hover {
      box-shadow: var(--btn-primary-shadow-hover);
      border: var(--btn-primary-border-hover);
      background: var(--btn-primary-bg-hover);
      color: var(--btn-primary-text-hover);
    }

    &:active {
      box-shadow: var(--btn-primary-shadow-active);
      border: var(--btn-primary-border-active);
      background: var(--btn-primary-bg-active);
      color: var(--btn-primary-text-active);
    }

    &:disabled,
    &:disabled:hover {
      box-shadow: var(--btn-primary-shadow-disabled);
      border: var(--btn-primary-border-disabled);
      background: var(--btn-primary-bg-disabled);
      color: var(--btn-primary-text-disabled);
    }
  }

  &:global(.ant-btn-default) {
    box-shadow: var(--btn-default-shadow);
    border: var(--btn-default-border);
    background: var(--btn-default-bg);
    color: var(--btn-default-text);

    & {
      height: auto;
      box-shadow: var(--btn-select-shadow);
      border: var(--btn-select-border);
      background: var(--btn-select-bg);

      & > * {
        z-index: 1;
      }
      &::before {
        content: '';
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        display: block;
        position: absolute;
        background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
        border-radius: 12px;
        z-index: 0 !important;
      }
      &::after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        border-radius: 12px;
        background: var(--btn-select-bg);
        z-index: 0 !important;
      }

      &:hover {
        box-shadow: var(--btn-select-shadow-hover);
        border: var(--btn-select-border-hover);
      }

      &:active {
        box-shadow: var(--btn-select-shadow-active);
        border: var(--btn-select-border-active);
      }
    }

    &:hover {
      box-shadow: var(--btn-default-shadow-hover);
      border: var(--btn-default-border-hover);
      background: var(--btn-default-bg-hover);
      color: var(--btn-default-text-hover);
    }

    &:active {
      box-shadow: var(--btn-default-shadow-active);
      border: var(--btn-default-border-active);
      background: var(--btn-default-bg-active);
      color: var(--btn-default-text-active);
    }

    &:disabled,
    &:disabled:hover {
      box-shadow: var(--btn-default-shadow-disabled);
      border: var(--btn-default-border-disabled);
      background: var(--btn-default-bg-disabled);
      color: var(--btn-default-text-disabled);
    }
  }

  &:global(.ant-btn-ghost) {
    box-shadow: var(--btn-ghost-shadow);
    border: var(--btn-ghost-border);
    background: var(--btn-ghost-bg);
    color: var(--btn-ghost-text);

    &:hover {
      box-shadow: var(--btn-ghost-shadow-hover);
      border: var(--btn-ghost-border-hover);
      background: var(--btn-ghost-bg-hover);
      color: var(--btn-ghost-text-hover);
    }

    &:active {
      box-shadow: var(--btn-ghost-shadow-active);
      border: var(--btn-ghost-border-active);
      background: var(--btn-ghost-bg-active);
      color: var(--btn-ghost-text-active);
    }

    &:disabled,
    &:disabled:hover {
      box-shadow: var(--btn-ghost-shadow-disabled);
      border: var(--btn-ghost-border-disabled);
      background: var(--btn-ghost-bg-disabled);
      color: var(--btn-ghost-text-disabled);
    }

    & {
      height: auto;
      box-shadow: var(--btn-select-shadow);
      border: var(--btn-select-border);
      background: var(--btn-select-bg);

      & > * {
        z-index: 1;
      }
      &::before {
        content: '';
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        display: block;
        position: absolute;
        background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
        border-radius: 12px;
        z-index: 0 !important;
      }
      &::after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        border-radius: 12px;
        background: var(--btn-select-bg);
        z-index: 0 !important;
      }

      &:hover {
        box-shadow: var(--btn-select-shadow-hover);
        border: var(--btn-select-border-hover);
      }

      &:active {
        box-shadow: var(--btn-select-shadow-active);
        border: var(--btn-select-border-active);
      }
    }
  }

  &:global(.ant-btn-link) {
    height: auto;
    padding: 0;
    border: 0;
    color: var(--btn-link-text);

    &:hover {
      color: var(--btn-link-text-hover);
    }

    &:active {
      color: var(--btn-link-text-active);
    }

    &.light {
      color: var(--btn-light-text);

      &:hover {
        color: var(--btn-light-text-hover);
      }

      &:active {
        color: var(--btn-light-text-active);
      }
    }
  }
}
