.component {
  align-items: center;
  background: var(--theme-card-color);
  border-bottom: 1px solid var(--theme-border-color);
  display: flex;
  height: 72px;
  padding: 12px var(--horizontal-padding);
  position: relative;



  @media (max-width: 768px) {
    padding: 24px;
  }

  .burger {
    display: none;
    margin-left: 16px;
    border-radius: 12px;
    padding: 10px !important;
    border: 1px solid var(--theme-border-color) !important;
    color: var(--theme-primary-color);

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.mobileMenu {
  --top: 0;

  display: none;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: calc(100% - var(--top));

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: var(--theme-modal-overlay);
    z-index: -1;
  }

  @media (min-width: 768px) {
    &.open {
      display: none !important;
    }
  }
}

.mobileMenu.open {
  display: flex;
}

.mobileInner {
  overflow-y: auto;
}

.mobileMenuInner {
  background: var(--theme-card-color);
  padding: 20px 0;
  border-radius: 0 0 12px 12px;

  .mobileMenuBlock {
    display: inline-block;
    margin: 20px;
  }

  h3 {
    padding-left: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    color: var(--theme-secondary-color);
    margin: 0 0 16px;
  }

  .dropdownLink {
    padding-left: 8px;
    padding-right: 8px;
    color: var(--theme-primary-color) !important;
  }
}

.titleDelimiter {
  background: var(--theme-border-color);
  width: 1px;
  height: 34px;
  margin-left: 14px;
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-left: 6px;
    margin-right: 14px;
  }
}

.logo {
  margin-right: 3px;
  width: 56px;
  height: 56px;

  @media (max-width: 768px) {
    width: 44px;
    height: 44px;
  }
}

.title {
  font-family: 'Sharp Grotesk', 'Space Grotesk', sans-serif;
  color: var(--theme-primary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-right: auto;
  padding: 0;

  @media (max-width: 1024px) {
    font-size: 13px;
    line-height: 13px;
  }
}

.nav {
  display: flex;
  border-right: 1px solid var(--theme-border-color);
  margin-right: 24px;

  @media (max-width: 768px) {
    display: none;
  }
}

.navLink {
  margin-right: 30px;

  .dropdownArrow {
    color: var(--theme-primary-color);
  }

  &:global(.ant-popover-open) {
    .dropdownArrow {
      transform: rotate(-180deg);
    }
  }
}

.dropdown {
  padding: 8px;
  min-width: 194px;
}

.dropdownLink {
  display: flex;
  align-items: center;
  color: var(--theme-primary-color);
  padding: 16px 12px 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
}

.dropdownIcon {
  margin-right: 6px;
  color: var(--theme-primary-color);
}

.dropdownLink:hover {
  background: rgba(0, 0, 0, 0.05);
  color: var(--theme-primary-color);

  .dropdownIcon {
    color: var(--theme-primary-color);
  }
}

.dropdownLink:active {
  background: rgba(0, 0, 0, 0.1);
  color: var(--theme-primary-color);

  .dropdownIcon {
    color: var(--theme-primary-color);
  }
}

.dropdownLink[aria-disabled='true'] {
  color: var(--theme-secondary-color) !important;
  cursor: default;

  .dropdownIcon {
    color: var(--theme-secondary-color) !important;
  }
}

.themeSwitcher {
  margin: 20px auto;
  padding: 11px 24px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(51, 51, 51, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  color: #fff;

  svg {
    color: #fff;
    margin-right: 10px;
  }
}
