@import 'src/styles/text';

.component {
  border-radius: 12px;

  :global(.ant-modal-content) {
    box-shadow: var(--theme-modal-shadow);
    border-radius: 12px;
  }

  :global(.ant-modal-close) {
    top: 32px;
    right: 32px;
  }

  :global(.ant-modal-close-x) {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  :global(.ant-modal-close-x) svg {
    color: var(--theme-icon-color);
  }

  :global(.ant-modal-header) {
    padding: 32px;
    background: var(--theme-card-color);
    border-bottom: 1px solid var(--theme-border-color);
    border-radius: 12px 12px 0 0;

    :global(.ant-modal-title) {
      @include font-p1-semi-bold;
      color: var(--theme-primary-color);
      font-size: 14px;
      font-family: 'Sharp Grotesk', 'Space Grotesk', sans-serif;
    }
  }

  :global(.ant-modal-body) {
    background: var(--theme-card-color);
    overflow-y: auto;
    border-radius: 12px;
  }

  :global(.ant-modal-header) + :global(.ant-modal-body) {
    border-radius: 0 0 12px 12px;
  }
}
