.component {
  min-width: 80px;
  height: 32px;
  padding: 8px 24px;
  border-radius: 32px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  div {
    display: block;
  }

  &.ACCEPTED,
  &.EXECUTED {
    background: linear-gradient(135deg, rgba(188, 235, 0, 0.08) 15.57%, rgba(0, 234, 234, 0.08) 84.88%);

    div {
      --text-gradient: var(--gradient-green);
      --text-color: var(--gradient-green-safe);
    }
  }

  &.WARMUP,
  &.ACTIVE,
  &.QUEUED,
  &.GRACE {
    background: linear-gradient(135deg, rgba(145, 79, 230, 0.08) 0%, rgba(49, 108, 223, 0.08) 100%);

    div {
      --text-gradient: var(--gradient-blue);
      --text-color: var(--gradient-blue-safe);
    }
  }

  &.EXPIRED,
  &.FAILED,
  &.CANCELED,
  &.ABROGATED {
    background: linear-gradient(135deg, rgba(255, 116, 57, 0.08) 0%, rgba(255, 57, 188, 0.08) 100%);

    div {
      --text-gradient: var(--gradient-red);
      --text-color: var(--gradient-red-safe);
    }
  }
}
