.chart_tooltip {
  padding: 16px 24px !important;
  background: var(--theme-tooltip-bg) !important;
  border: 1px solid var(--theme-border-color) !important;
  border-radius: 12px !important;

  & :global(.recharts-tooltip-item) {
    display: flex !important;
    justify-content: space-between;
  }
  & :global(.recharts-tooltip-item-name) {
    color: var(--theme-secondary-color);
    display: inline-flex;
    align-items: center;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100px;
      margin-right: 12px;
    }
  }
  & :global(.recharts-tooltip-item-list) :global(.recharts-tooltip-item):nth-child(1) :global(.recharts-tooltip-item-name)::before {
    background: var(--gradient-red);
  }
  & :global(.recharts-tooltip-item-list) :global(.recharts-tooltip-item):nth-child(2) :global(.recharts-tooltip-item-name)::before {
    background: var(--gradient-blue);
  }
  & :global(.recharts-tooltip-item-separator) {
    padding: 0 16px;
  }
  & :global(.recharts-tooltip-item-value) {
    color: var(--theme-primary-color);
  }
  & :global(.recharts-tooltip-item-unit) {
    display: none;
  }
}

.recharts-tooltip-item-list {

}
.chartTitleContainer {
  @media (max-width: 480px) {
    display: block;
  }
}

.chartTitleFilters {
  @media (max-width: 480px) {
    margin-top: 8px;
  }
}
