@import 'src/styles/text';

.button-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;

  border: 0;
  background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  box-shadow: 0 10px 20px rgba(136, 120, 172, 0.2);

  border-radius: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #000;

  &:hover {
    color: #000;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  }

  &:active {
    color: #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  }

  &:disabled,
  &[disabled] {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.button-secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;

  border: 0;
  background: rgba(255, 67, 57, 0.1);
  border-radius: 4px;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: #ff4339;

  &:hover {
    background: rgba(255, 105, 97, 0.1);
    color: #ff6961;
  }

  &:active {
    background: rgba(204, 54, 46, 0.08);
    color: #cc362e;
  }

  &:disabled,
  &[disabled] {
    background: rgba(170, 175, 179, 0.08);
    color: #aaafb3;
    cursor: not-allowed;
  }
}

.button-ghost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 32px;
  position: relative;

  border: none;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 12px;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  color: var(--theme-primary-color);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 12px;
    background: var(--gradient-green);
    z-index: 0;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 12px;
    background-color: var(--theme-card-color);
    z-index: 0;
  }
  & span {
    z-index: 1;
  }

  &:hover {
    &::after {
      background-image: linear-gradient(135deg, rgba(188, 235, 0, 0.1) 15.57%, rgba(0, 234, 234, 0.1) 84.88%);
    }
    & span {
      opacity: 0.8;
    }
  }

  &:active {
    &::after {
      background-image: linear-gradient(135deg, rgba(188, 235, 0, 0.2) 15.57%, rgba(0, 234, 234, 0.2) 84.88%);
    }
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    &::before {
      background: rgba(255, 255, 255, 0.2);
    }
    & span {
      opacity: 0.3;
    }
    &:hover {
      &::after {
        background: rgba(147, 148, 150, 0.08);
      }
    }
  }
}

.button-small {
  font-size: 12px;
  line-height: 16px;
  padding: 9px 24px;
}

.button-big {
  font-size: 16px;
  line-height: 24px;
  padding: 20px 48px;
}

.button-text {
  @include font-p1-semi-bold;
  color: var(--theme-secondary-color);
  border: 0;
  background-color: transparent;
  padding: 0;

  display: flex;
  align-items: center;

  &:hover {
    color: var(--theme-primary-color);
  }

  &:active {
    color: var(--theme-primary-color);
  }
}

.button-ghost-monochrome {
  background: transparent;
  border: 1px solid var(--theme-border-color);
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 12px 32px;
  color: var(--theme-secondary-color);

  &:hover {
    color: var(--theme-primary-color);
    border: 1px solid var(--theme-border-color);
  }

  &:active {
    color: var(--theme-primary-color);
  }

  &.selected {
    border-color: var(--theme-red-color);
  }
}

.button-back {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: var(--theme-secondary-color);
  border: 0;
  background-color: transparent;
  padding: 12px 0;

  display: flex;
  align-items: center;

  &:hover {
    color: var(--theme-primary-color);
  }

  &:active {
    color: var(--theme-primary-color);
  }
}

.link-blue {
  color: var(--theme-blue-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover,
  &:active {
    color: var(--theme-blue400-color);
  }

  [data-theme='dark'] & {
    color: var(--theme-blue400-color);

    &:hover,
    &:active {
      color: var(--theme-blue-color);
    }
  }
}
