.notificationIcon {
  color: var(--theme-icon-color);
  cursor: pointer;

  &:hover {
    color: var(--theme-icon-hover-color);
  }
}

.popover {
  :global(.ant-popover-inner) {
    box-shadow: var(--theme-card-shadow);
    border-radius: 12px;
  }
}

.accountLink {
  &:global(.ant-popover-open) {
    .dropdownArrow {
      transform: rotate(-180deg);
    }
  }
}

.statusTag {
  background: rgba(0, 211, 149, 0.1);
  border-radius: 12px;
  padding: 4px 12px;
}

.notifications {
  max-width: 420px;
  width: 100%;
  max-height: 420px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .walletAddress,
  .dropdownArrow {
    display: none;
  }
}
