@import 'src/styles/text';

.component:global(.ant-select.ant-select-single) {
  min-height: 48px;
  position: relative;
  padding: 1px;
  border-radius: 12px;

  &:global(.ant-select-focused) {
    :global(.ant-select-selector) {
      box-shadow: none !important;
      border-color: var(--theme-border-color) !important;
    }
  }

  &:hover {
    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
  }

  &:global(.ant-select-sm) {
    height: 32px;

    :global(.ant-select-selector) {
      height: 32px;
      padding: 4px 24px 4px 16px;
    }
  }

  &:global(.ant-select-lg) {
    height: 64px;

    :global(.ant-select-selector) {
      height: 64px;
      padding: 20px 32px 20px 24px;
    }
  }

  &:global(.ant-select-open) {
    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);

    :global(.ant-select-arrow) svg {
      transform: rotate(-180deg);
    }

    :global(.ant-select-selector) {
      background: var(--theme-card-color);
      box-shadow: none;
      border-color: var(--theme-border-color) !important;
      border-radius: 12px;
    }
  }

  :global(.ant-select-selector) {
    background: var(--theme-card-color);
    border: 1px solid var(--theme-border-color);
    height: 48px;
    padding: 12px 32px 12px 16px;
    border-radius: 12px;

    :global(.ant-select-selection-item),
    :global(.ant-select-selection-placeholder) {
      @include font-p1-semi-bold;
      color: var(--theme-primary-color);
    }
  }

  :global(.ant-select-arrow) {
    height: 24px;
    margin: 0;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;

    :global(.ant-spin) {
      margin-top: 4px;
    }
  }
}

.dropdown:global(.ant-select-dropdown) {
  background: var(--theme-tooltip-bg);
  border: 1px solid var(--theme-tooltip-bg);
  border-radius: 12px;
  padding: 4px;
  pointer-events: all !important;

  .option {
    height: 48px;
    padding: 12px;
    border-radius: 12px;

    &:global(.ant-select-item-option-selected) {
      background: var(--theme-tooltip-item-bg-active);
    }

    :global(.ant-select-item-option-content) {
      @include font-p2-semi-bold;
      color: var(--theme-secondary-color);
    }

    &:global(.ant-select-item-option-active) {
      background: var(--theme-tooltip-item-bg-active);

      :global(.ant-select-item-option-content) {
        color: var(--theme-primary-color);
      }
    }
  }
}
