.cardTitleContainer {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 16px;
  min-height: 88px;

  @media (max-width: 480px) {
    gap: 24px 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;

    button {
      width: 100%;
    }
  }
}

.cardTitleTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.box {
  margin: 24px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  [data-theme='dark'] & {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.16);
  }
}

.xyzReward {
  margin-right: 2px;
}

