@import 'src/styles/text';

:root .component {
  --input-shadow: none;
  --input-shadow-focused: 0 0 0 3px rgba(63, 234, 156, 0.16);
  --input-border: 1px solid #e3e4e6;
  --input-border-focused: 1px solid transparent;
  --input-border-disabled: 1px solid #e3e4e6;
  --input-bg: #fff;
  --input-bg-disabled: #f8f8f9;
  --input-text: var(--theme-primary-color);
  --input-text-active: #13202b;
  --input-text-disabled: #717980;
}

[data-theme='dark'] .component {
  --input-bg-disabled: rgba(19, 19, 19, 0.1);
  --input-border: 1px solid #43484d;
  --input-border-disabled: none;
  --input-text-active: #fff;
  --input-text-disabled: #939496;
  --input-bg: var(--theme-body-color);
}

.component {
  width: 100%;
  border-radius: 12px;

  :global(.ant-input),
  &:global(.ant-input) {
    @include font-p1-semi-bold;
    height: 48px;
    padding: 12px 16px;
    box-shadow: var(--input-shadow);
    border: var(--input-border);
    border-radius: 12px;
    background: var(--theme-body-color);
    outline: none;
    color: var(--input-text);

    &:global(.ant-input-lg) {
      height: 64px;
      padding: 20px 24px;
    }

    &:focus {
      box-shadow: var(--input-shadow-focused);
      border: var(--input-border-focused);
      color: var(--input-text-active);
    }

    &::placeholder {
      color: var(--theme-input-placeholder);
    }

    &:global(.ant-input-disabled) {
      border: var(--input-border-disabled);
      background: var(--input-bg-disabled);

      &::placeholder {
        color: inherit;
        opacity: 0.4;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      appearance: textfield;
    }
  }

  :global(.ant-input-group) {
    border: var(--input-border);
    background: var(--gradient-green);
    border-radius: 12px;
    padding: 1px;


    :global(.ant-input-group-addon) {
      background: var(--theme-body-color);
      border: 0;

      &:first-of-type {
        border-radius: 12px 0 0 12px;
        border-right: var(--input-border);
      }
      &:last-of-type {
        border-radius: 0 12px 12px 0;
      }
    }

    :global(.ant-input) {
      height: 50px;
      padding: 12px 16px;
      box-shadow: none;
      border: 0;
      border-radius: 12px;

      &:global(.ant-input-lg) {
        height: 64px;
        padding: 20px 24px;
      }
    }

    &:focus-within {
      box-shadow: var(--input-shadow-focused);
      border: var(--input-border-focused);
    }
  }

  &.disabled {
    :global(.ant-input-group) {
      background: var(--input-bg-disabled);

      :global(.ant-input),
      :global(.ant-input-group-addon) {
        border: 0;
        background: var(--input-bg-disabled);
      }

      :global(.ant-input-group-addon) {
        &:first-of-type {
          border-right: var(--input-border);
          opacity: 0.4;
        }
      }
    }
  }

  &:global(.ant-input-affix-wrapper) {
    background: var(--theme-input-background);
    border: var(--input-border);

    :global(.ant-input),
    :global(.ant-input):focus {
      border: 0;
    }
  }
}
