.component {
  background: var(--theme-card-color);
}


.items.items {
  @media (max-width: 767px) {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: "item1 item2" "item3 item4";

    & > [role="separator"] {
      display: none;
    }
    & .item1 {
      grid-area: item1;
    }
    & .item2 {
      grid-area: item2;
      padding-left: 26px;
    }
    & .item3 {
      grid-area: item3;
      padding-top: 26px;
    }
    & .item4 {
      grid-area: item4;
      padding-top: 26px;
      padding-left: 26px;
    }
  }
}

.ratio {
  background: rgba(255, 67, 57, 0.08);
  border-radius: 18px;
  padding: 0 12px;
}
