.component {
  background: var(--theme-card-color);
  border-bottom: 1px solid var(--theme-border-color);
  gap: 16px;
}

.items.items {
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;

    [role='separator'] {
      display: none;
    }

    .item2 {
      border-left: 1px solid var(--theme-border-color);
      padding-left: 26px;
    }

    .item3 {
      border-top: 1px solid var(--theme-border-color);
      padding-top: 26px;
    }

    .item4 {
      border-top: 1px solid var(--theme-border-color);
      padding-top: 26px;
    }

    .item4 ~ .item3 {
      position: relative;
      padding-left: 26px;
      border-top: 0;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        background: var(--theme-border-color);
      }

      &::before {
        top: 0;
        left: 26px;
        right: 0;
        height: 1px;
      }

      &::after {
        top: 26px;
        left: 0;
        bottom: 0;
        width: 1px;
      }
    }
  }
}

.week {
  background: #ffedab;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  padding: 2px 8px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #b58c19;
}

[data-theme='dark'] .week {
  background: #b58c19;
  color: #ffedab;
}
