.component {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  margin: 0;
  padding: 24px;
  background: var(--theme-border-color); // border
  border: none;
  border-radius: 12px;
  position: relative;
  color: var(--theme-primary-color);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 0;
    border-radius: 12px;
  }
  &::before {
    background: var(--theme-card-color); //bg dark stable
  }
  &::after {
    background: var(--theme-card-color); // bg gradient
  }

  & > span {
    z-index: 1;
  }

  :global(.ant-radio-inner) {
    width: 24px;
    height: 24px;
    background: var(--theme-body-color);
    border: 2px solid var(--theme-border-color);

    &::after {
      display: none;
    }
  }

  :global(.ant-radio-wrapper):hover :global(.ant-radio),
  :global(.ant-radio):hover :global(.ant-radio-inner),
  :global(.ant-radio-input):focus + :global(.ant-radio-inner) {
    border-color: var(--theme-border-color);
    opacity: 0.7;
  }

  &:global(.ant-radio-wrapper-checked) {
    background: var(--gradient-green);
    &::after {
      background: linear-gradient(135deg, rgba(188, 235, 0, 0.1) 15.57%, rgba(0, 234, 234, 0.1) 84.88%);
    }
    :global(.ant-radio-inner) {
      border: 0;
      background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--theme-tooltip-bg);
        display: block;
        border-radius: 100px;
      }
    }
  }
}
