.tabs.tabs {
  :global(.ant-tabs-nav) {
    border-left: 0;
    border-right: 0;
    height: 74px;
    padding: 0;
  }

  :global(.ant-tabs-nav-wrap) {
    max-width: calc(var(--horizontal-padding) * 2 + 1100px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
  }
}
