.addActionBtn {
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;

  & > span {
    display: inline-flex;
  }
  & > span + span {
    margin-left: 10px;
  }
}

.cardsContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
