.chartTitleContainer {
  @media (max-width: 480px) {
    display: block;
  }
}

.chartTitleFilters {
  flex-wrap: wrap;
  @media (max-width: 480px) {
    margin-top: 16px;
    > div {
      width: 100%;
      margin-right: 0!important;
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}

.chartTooltip {
  padding: 24px !important;
  background: var(--theme-card-color) !important;
  border: 1px solid var(--theme-border-color) !important;
  border-radius: 4px !important;
}

.chartLabel {
  --dot-color: '';
  display: inline-flex;
  align-items: center;
  margin-right: 8px;

  &::before {
    content: '';
    display: flex;
    width: 16px;
    height: 16px;
    background: var(--dot-color);
    border-radius: 100px;
    margin-right: 8px;
  }
}

