.component {
  :global(.ant-slider-rail),
  &:global(.ant-slider:hover .ant-slider-rail) {
    height: 8px;
    background: var(--theme-border-color);
  }

  :global(.ant-slider-track),
  &:global(.ant-slider:hover .ant-slider-track) {
    height: 8px;
    background: var(--gradient-green);
  }

  :global(.ant-slider-step) {
    height: 8px;
  }

  :global(.ant-slider-handle) {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-top: -8px;
    border: 4px solid var(--theme-border-color) !important;
    background: #E4CE52;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background: var(--theme-border-color);
      display: block;
      border-radius: 100px;
      transform: translate(-50%, -50%);
    }
  }
}
